name: Deploy API to AWS
on:
  push:
    branches: [ main ]
    paths: ["apps/api/**", "infra/terraform/**", ".github/workflows/api-deploy.yml"]
  workflow_dispatch:

jobs:
  provision-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-1
      
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.10.0"

      - name: Terraform Apply
        working-directory: infra/terraform
        run: |
          terraform init
          terraform apply -auto-approve
          echo "INSTANCE_IP=$(terraform output -raw api_public_ip)" >> $GITHUB_ENV
          
      - name: Login to ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build & Push
        run: |
          docker build -t ${{ secrets.ECR_REPOSITORY_URI }}:latest ./apps/api/pillar-strength
          docker push ${{ secrets.ECR_REPOSITORY_URI }}:latest

      - name: SSH and Run Container
        uses: appleboy/ssh-action@master
        with:
          host: ${{ env.INSTANCE_IP }}
          username: ubuntu
          key: ${{ secrets.AWS_SSH_KEY }}
          script: |
            until command -v docker >/dev/null 2>&1 && command -v aws >/dev/null 2>&1; do
              sleep 5
            done

            sudo chmod 666 /var/run/docker.sock

            aws ecr get-login-password --region eu-west-1 | docker login --username AWS --password-stdin ${{ secrets.ECR_REPOSITORY_URI }}
            
            docker pull ${{ secrets.ECR_REPOSITORY_URI }}:latest
            
            docker stop api || true
            docker rm api || true
            
            docker run -d --name api -p 8335:8335 \
              -e DB_URL="${{ secrets.DB_URL }}" \
              -e DB_PASS="${{ secrets.DB_PASS }}" \
              -e SUPABASE_URL="${{ secrets.SUPABASE_URL }}" \
              -e SUPABASE_KEY="${{ secrets.SUPABASE_KEY }}" \
              ${{ secrets.ECR_REPOSITORY_URI }}:latest