name: API AWS Deployment
on:
  push:
    branches: [ main ]
    paths:
      - "apps/api/**"
      - "infra/terraform/**"
      - ".github/workflows/api-deploy.yml"

jobs:
  test-and-package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
      - name: Build and Test
        working-directory: ./apps/api/pillar-strength
        env:
          DB_URL: jdbc:h2:mem:testdb
          DB_USER: sa
          DB_PASS: password
          SUPABASE_JWT_ISSUER: https://dummy-issuer.com
          SUPABASE_JWT_JWKS: https://dummy-issuer.com/.well-known/jwks.json
        run: mvn clean install

  provision:
    needs: test-and-package
    runs-on: ubuntu-latest
    outputs:
      instance_ip: ${{ steps.set-ip.outputs.INSTANCE_IP }}
    steps:
      - uses: actions/checkout@v4
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-1
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: false
      - name: Terraform Apply
        working-directory: infra/terraform
        id: set-ip
        run: |
          terraform init
          terraform apply -auto-approve
          echo "INSTANCE_IP=$(terraform output -raw api_public_ip)" >> $GITHUB_OUTPUT

  deploy:
    needs: [test-and-package, provision]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-1
      - name: Login to ECR
        uses: aws-actions/amazon-ecr-login@v2
      - name: Build & Push Image
        run: |
          docker build -t ${{ secrets.ECR_REPOSITORY_URI }}:latest ./apps/api/pillar-strength
          docker push ${{ secrets.ECR_REPOSITORY_URI }}:latest
      - name: SSH and Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ needs.provision.outputs.instance_ip }}
          username: ubuntu
          key: ${{ secrets.AWS_SSH_KEY }}
          port: 22
          timeout: 60s
          debug: true
          script: |
            aws ecr get-login-password --region eu-west-1 | docker login --username AWS --password-stdin ${{ secrets.ECR_REPOSITORY_URI }}
            
            cat <<EOF > Caddyfile
            api.pillarstrength.jordanvoss.dev {
                reverse_proxy localhost:8335
            }
            EOF

            cat <<EOF > docker-compose.yml
            services:
              api:
                container_name: pillar-strength-api
                image: ${{ secrets.ECR_REPOSITORY_URI }}:latest
                network_mode: host
                environment:
                  - DB_URL=${{ secrets.DB_URL }}
                  - DB_USER=${{ secrets.DB_USER }}
                  - DB_PASSWORD=${{ secrets.DB_PASSWORD }}
                  - SUPABASE_ISSUER_URI=${{ secrets.SUPABASE_ISSUER_URI }}
                  - SUPABASE_JWKS_URI=${{ secrets.SUPABASE_JWKS_URI }} 
                restart: always
                healthcheck:
                  test: ["CMD", "curl", "-f", "http://localhost:8335/actuator/health"]
                  interval: 30s
                  start_period: 60s
              caddy:
                container_name: pillar-strength-caddy
                image: caddy:latest
                network_mode: host
                volumes:
                  - ./Caddyfile:/etc/caddy/Caddyfile
                  - caddy_data:/data
                restart: always
            volumes:
              caddy_data:
            EOF

            docker compose pull
            docker compose up -d