name: Code Quality (Lint)
on:
  push:
    branches: [main]
  pull_request:

jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      api: ${{ steps.filter.outputs.api }}
      ui: ${{ steps.filter.outputs.ui }}
      infra: ${{ steps.filter.outputs.infra }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            api:
              - 'apps/api/**'
            ui:
              - 'apps/app/pillar-strength/**'
            infra:
              - 'infra/terraform/**'

  api-lint:
    needs: changes
    if: ${{ needs.changes.outputs.api == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
      - name: Run Checkstyle
        working-directory: ./apps/api/pillar-strength
        run: mvn checkstyle:check

  ui-lint:
    needs: changes
    if: ${{ needs.changes.outputs.ui == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: apps/app/pillar-strength/package-lock.json
      - name: Install dependencies
        run: npm ci --prefix apps/app/pillar-strength
      - name: Run UI Lint
        working-directory: apps/app/pillar-strength
        run: npm run lint

  infra-lint:
    needs: changes
    if: ${{ needs.changes.outputs.infra == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: terraform-linters/setup-tflint@v4
      - name: TFLint Init
        run: tflint --init
      - name: Run TFLint
        run: tflint --recursive --chdir=infra/terraform